*{
    padding: 0;
    margin: 0;
}
.all{
    background-color: black;
}
.main{
    background-color:white;
    margin:50px auto;
    width: 400px;
    height:488px;
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
#txt{
    font-size: 38px;
}
#p1{
    color: gray;
    margin-top: 3px;
}
#perform{
    width: 400px;
    height:360px;
    margin-top: 40px;
}
#every{
    width:400px;
    height:42px;
    line-height: 40px;
    margin-bottom:25px;
}
input{
    /* float: left; */
    width: 320px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    /* margin-bottom: 20px;  */
    padding-left: 10px;
    margin-left: 15px;
}
#password{
    margin-left: 17px;
}
#cord{
    width:190px;
    margin-left: 15px; 
} 
#check{
    width:120px;
    height: 42px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    padding-left: 0px;
    margin-left: 5px;
}
#enroll{
    width: 400px;
    height:54px;
    background-color: #2e58ff;
    border-radius: 50px;
    border: none;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    margin-left: 0px;
}
#username-validation-message,#number-validation-message,
#password-validation-message,#cord-validation-message{
    height: 20px;
    width: 330px;  
    margin-left: 69px;
    font-size: 0.8em;
    color:red
}
